@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Kumbh Sans', sans-serif;
}

@responsive {
	.wrapper {
		max-width: calc(100vw - 3em);
		margin: 0 auto;
		width: 100%;
	}

	@media screen and (min-width: 576px) {
		.wrapper {
			max-width: calc(100vw - 5em);
		}
	}

	@media screen and (min-width: 992px) {
		.wrapper {
			max-width: calc(100vw - 10em);
		}
	}

	@media screen and (min-width: 1600px) {
		.wrapper {
			max-width: 1400px;
		}
	}
}

.nav-links a {
	@apply relative py-4 text-grayBlue-700 
	transition duration-300 
	hover:text-grayBlue-900 hover:before:opacity-100 
	before:opacity-0 before:w-full before:h-1 before:absolute 
	before:-bottom-1/2 before:left-0 before:-translate-y-full
	before:bg-primary-orange
	before:transition before:duration-300;
}

.mobile-nav-links a {
	@apply font-bold text-grayBlue-900 text-xl cursor-pointer;
}

.next-prev-image-button {
	@apply w-10 h-10 grid place-items-center rounded-full bg-white cursor-pointer;
}

.next-prev-image-button svg {
	@apply stroke-grayBlue-900 transition duration-300;
}

.cos2 {
	/* flex-wrap: wrap; */
	/* max-height: 100px; */
	/* overflow: hidden; */
	/* transform: translateX(calc(calc(25% - 2.5%) * -1)); */
}

.cos {
	max-width: 130px;
	flex: 1 0 calc(25% - 1rem - 2.5%);
	/* flex: 1 0 calc(20% - 0.5rem); */
}
