@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-width: 100%;
	min-height: 100%;
	font-family: 'Kumbh Sans', sans-serif;
	overflow-x: hidden;
}

body.fixed {
	position: fixed;
}

@responsive {
	.wrapper {
		max-width: calc(100vw - 3em);
		margin: 0 auto;
		width: 100%;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 5em);
		}
	}

	@screen lg {
		.wrapper {
			max-width: calc(100vw - 10em);
		}
	}

	@screen 2xl {
		.wrapper {
			max-width: 1400px;
		}
	}
}

.nav-links a {
	@apply relative py-4 text-grayBlue-700 
	transition duration-300 
	hover:text-grayBlue-900 hover:before:opacity-100 
	before:opacity-0 before:w-full before:h-1 before:absolute 
	before:-bottom-1/2 before:left-0 before:-translate-y-full
	before:bg-primary-orange
	before:transition before:duration-300;
}

.mobile-nav-links a {
	@apply font-bold text-grayBlue-900 text-xl cursor-pointer;
}

.next-prev-image-button {
	@apply w-10 h-10 grid place-items-center rounded-full bg-white cursor-pointer absolute top-1/2 -translate-y-1/2;
}

.next-prev-image-button svg {
	@apply stroke-grayBlue-900 transition duration-300;
}

.product-thumbnail {
	@apply max-h-32 relative rounded-xl overflow-hidden cursor-pointer grow shrink-0 before:w-full before:h-full before:absolute before:transition before:duration-300 hover:before:bg-primary-pale/75;

	flex-basis: calc(25% - 1rem - 2.5%);
}

.cart {
	width: calc(100vw - 1.5em);
	transform: translate(-50%, calc(100% + 0.75em));
}

@screen md {
	.lightbox-controls .prev {
		@apply left-0 -translate-x-1/2 scale-125;
	}
	.lightbox-controls .next {
		@apply right-0 translate-x-1/2 scale-125;
	}

	.cart {
		transform: translate(0, 100%);
	}
}
